<li id="msg-<%= message.id %>" onload="createMessageView()"><b><%= message.user == current_user ? "you" : message.user.username %>: </b><%= message.content %></li>

<script>
function createMessageView() {
  alert("test")
}
</script>