<div class="col-md-4 splash">
<h1 class="splash-logo">Welcome to</h1>
<h1 class="logo">LISTNR</h1>
<h3>The messaging app that forces you to listen</h3>
<br><br>
<div class="nav-button">
<%= link_to "Login", login_path, class: 'btn btn-primary nav-button' %>
</div>
<div class="nav-button">
<%= link_to "Sign Up", signup_path, class: 'btn btn-primary nav-button' %>
</div>
</div>