<% if @validation == true %>
  $('input#<%= @id %>').siblings(':last').replaceWith('<div id="validation" style="color:green;display:inline">&#10003</div>')
<% else %>
  $('input#<%= @id %>').siblings(':last').replaceWith('<div id="validation" style="color:red;display:inline">Invalid username</div>')
<% end %>