/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*= require bootstrap-theme.min.css
*= require bootstrap.css
 */

body {
  margin:0;
}

div.input {
  display: inline;
}

.side-nav {
  height:100vh;
  background-color:black;
  color:white;
  font-family: 'Helvetica Neue', sans-serif;
  padding-top: 20px;
  text-align:center;
}

.logo {
  font-size: calc(1vh + 8vw);
  font-weight:bold;
  letter-spacing:-.05em;
  margin:0px;
}

.splash-logo {
  font-size: calc(1vh + 6vh);
}
.btn, .btn-primary {
  color:black;
  background-color:white;
}
.btn {
  color:black;
  background-color:white;
  border-radius: 8px;
  font-size:24px;
}

.nav-button {
  width: 98%;
  margin: 15px 0;
}

.main {
  border: 3px solid black;
  margin: 5px;
  background-color:white;
}

.header {
  padding-bottom: 5px;
  border-bottom: 3px solid black;
}